<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research</a></li>
		        	<li><a href="/teaching">Teaching</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
	    		<hr style="height:5px;border:none;color:#000E2F;background-color:#000E2F;" />
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:eliza.grames@uconn.edu">email</a></li>
	        		<li><a href="https://github.com/elizagrames">github.com/elizagrames</a></li>
				</ul>
			</footer>
		</body>
	</html>
